<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Borken-Bank - Login</title>
</head>
<body>
    <header>
        <h1>Herzlich Willkommen bei der Borken-Bank</h1>
    </header>

    <div class="container">
        <form>
            <label>Benutzername</label><br>
            <input><br>
            <label>Kennwort</label><br>
            <input type="password"><br>
            <button>Einloggen</button>
        </form>
    </div>

    <footer>
        &#169; 2024 Borken-Bank AG
    </footer>
</body>
</html>
